.root {
  position: relative;
}

.searchIcon {
  position: absolute;
  left: 17px;
  top: 16px;

  color: rgba(204, 204, 204, 0.8);
}

.input {
  width: 300px;
  padding: 12px 20px;
  padding-left: 40px;

  font-size: 16px;

  border: 1px solid rgba(204, 204, 204, 0.4);
  border-radius: 30px;

  &:focus {
    border: 1px solid rgba(204, 204, 204, 0.8);
  }
}

.clearIcon {
  position: absolute;
  top: 16px;
  right: 17px;
  color: rgba(204, 204, 204, 0.8);
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: rgb(146, 146, 146);
  }
}
